requests
beautifulsoup4
aiohttp
asyncpraw
praw
schedule
discord.py
feedparser
cython
setuptools
wheel
numpy==1.23.5  # Explicitly set a compatible NumPy version
pip
spacy==3.5.4 --prefer-binary  # Ensure SpaCy uses prebuilt wheels
beautifulsoup4
lxml
aiolimiter
